.card {
  width: 20rem;
  padding: 1rem;
  margin: 2rem 1rem 2rem 0 ;
  background: #fff;
  border-radius: 7rem;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
@media only screen and (max-width: 900px) {
  .card {
    width: 15rem;
  }
}
@media only screen and (max-width: 600px) {
  .card {
    width: 12rem;
  }
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0.5rem 0.5rem 0.7rem rgba(0, 0, 0, 0.1);
}

.card__image {
  height: 6rem;
  display: block;
  top: 0;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .card__image {
    height: 4rem;
  }
}


a {
  text-decoration: none;
}

.card__title {
  text-align: center;
  padding-bottom: 1rem;
  margin: 0 auto;
  font-size: 1.3rem;
  width: 80%;
  color: #1f497d;
}
@media only screen and (max-width: 900px) {
  .card__title {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 600px) {
  .card__title {
    font-size: 1rem;
  }
}
