.navbar {
  margin: -2rem -6rem;
  padding: 2rem 6rem;
  background-color: #f8fbfd;
  height: 7rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 1rem 2rem;
    margin: -1rem -2rem;
  }
}
@media only screen and (min-width: 1400px) {
  .navbar {
    position: relative;
    width: 100vw;
    left: calc((1400px - 100vw) / 2);
  }
}
